In [1]:
import pandas as pd
pd.__version__

'1.5.3'

In [2]:
df = pd.read_csv('green_tripdata_2019-01.csv',nrows=100)

In [3]:
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)

In [4]:
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

In [5]:
print(pd.io.sql.get_schema(df, name='green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [6]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-01-01 00:15:42,2019-01-01 00:41:04,N,1,97,179,1,7.83,26.0,0.5,0.5,5.46,0.0,NaN,0.3,32.76,1,1,NaN
96,2,2019-01-01 00:21:28,2019-01-01 00:48:15,N,1,7,230,1,4.49,20.0,0.5,0.5,4.00,0.0,NaN,0.3,25.30,1,1,NaN
97,2,2019-01-01 00:17:10,2019-01-01 00:23:34,N,1,42,42,1,1.08,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2,1,NaN
98,2,2019-01-01 00:25:01,2019-01-01 00:43:55,N,1,42,232,2,8.74,25.0,0.5,0.5,0.00,0.0,NaN,0.3,26.30,2,1,NaN
99,2,2019-01-01 00:36:56,2019-01-01 00:43:50,N,1,223,7,5,1.32,7.0,0.5,0.5,2.00,0.0,NaN,0.3,10.30,1,1,NaN

In [7]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
print(pd.io.sql.get_schema(df, name='green_taxi_data',con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [10]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv', iterator=True,chunksize=100000,dtype=object)

In [11]:
df= next(df_iter)
len(df)

100000

In [12]:
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

In [13]:
df.to_sql(name='green_taxi_data',con=engine, if_exists='replace')

1000

In [14]:
%time df.head(n=0).to_sql(name='green_taxi_data',con=engine, if_exists='append')

CPU times: total: 0 ns
Wall time: 16.6 ms

0

In [27]:
query ="""select * from green_taxi_data where lpep_pickup_datetime > '2019-01-6 15:17:29' limit 5"""
pd.read_sql(query,con=engine)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,90027,2,2019-01-06 17:32:12,2019-01-06 17:45:34,N,1,195,181,1,2.60,...,0,0.5,1.18,0,None,0.3,14.93,1,1,None
1,94278,2,2019-01-06 20:49:26,2019-01-06 21:05:20,N,5,223,80,1,5.80,...,0,0,0,0,None,0,45,2,2,None

In [36]:
query ="""
select count(*) 
from green_taxi_data 
where lpep_pickup_datetime 
between '2019-01-14 00:00:00' and '2019-01-17 00:00:00'"""
pd.read_sql(query,con=engine)

   count
0      0

In [42]:
query ="""
select count() 
from green_taxi_data 
"""
pd.read_sql(query,con=engine)

    count
0  100000

In [28]:
print(pd.io.sql.get_schema(df, name='green_taxi_data',con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" TEXT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" TEXT,
	"PULocationID" TEXT,
	"DOLocationID" TEXT,
	passenger_count TEXT,
	trip_distance TEXT,
	fare_amount TEXT,
	extra TEXT,
	mta_tax TEXT,
	tip_amount TEXT,
	tolls_amount TEXT,
	ehail_fee TEXT,
	improvement_surcharge TEXT,
	total_amount TEXT,
	payment_type TEXT,
	trip_type TEXT,
	congestion_surcharge TEXT
)

In [29]:
from time import time
len(df)
while True:
    t_start=time()
    df = next(df_iter)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.to_sql(name='green_taxi_data', con = engine, if_exists='append')
    t_end=time()
    print("inserted another chunk, took %.3f second" % (t_end-t_start))

inserted another chunk, took 7.554 second
inserted another chunk, took 6.973 second
inserted another chunk, took 6.922 second
inserted another chunk, took 6.929 second
inserted another chunk, took 6.837 second
inserted another chunk, took 2.116 second

StopIteration:

In [75]:
query ="""select * from green_taxi_data limit 5"""
pd.read_sql(query,con=engine)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,278958,2,2019-01-14 21:36:34,2019-01-14 21:43:36,N,1,74,75,5,.98,...,0.5,0.5,1.46,0,None,0.3,8.76,1,1,None
1,278959,1,2019-01-14 21:39:37,2019-01-14 21:59:02,N,1,97,113,0,4.10,...,0.5,0.5,0,0,None,0.3,17.8,2,1,None
2,278960,2,2019-01-14 21:45:51,2019-01-14 21:58:18,N,1,247,236,1,3.91,...,0.5,0.5,0,0,None,0.3,15.3,2,1,None
3,278961,2,2019-01-14 21:13:35,2019-01-14 21:18:18,N,1,166,41,1,.79,...,0.5,0.5,0,0,None,0.3,6.3,2,1,None
4,278962,2,2019-01-14 21:17:08,2019-01-14 21:18:34,N,1,236,236,1,.50,...,-0.5,-0.5,0,0,None,-0.3,-4.8,4,1,None

**Query 1** How many taxi trips were totally made on January 15?

In [71]:
query ="""select count(*) from green_taxi_data where lpep_pickup_datetime > '2019-01-15 00:00:00' and lpep_dropoff_datetime < '2019-01-16 00:00:00'  limit 5"""
pd.read_sql(query,con=engine)

   count
0  20530

**Query 2** Which was the day with the largest trip distance Use the pick up time for your calculations.

In [ ]:
df.trip_distance=pd.to_numeric(df.trip_distance)
print(pd.io.sql.get_schema(df, name='green_taxi_data',con=engine))

In [ ]:
query ="""WITH cte AS (
SELECT
    CASE 
        WHEN trip_distance ~ '[0-9]' THEN CAST(trip_distance AS decimal) -- cast to numeric field
    END AS num,
    CASE 
        WHEN trip_distance ~ '[a-zA-Z]' THEN trip_distance
    END AS a
FROM green_taxi_data
)
SELECT SUM(num), COUNT(a) FROM cte"""
pd.read_sql(query,con=engine)

In [115]:
query="""select date(lpep_pickup_datetime),sum(cast(trip_distance as decimal)) as distance from green_taxi_data group by lpep_pickup_datetime order by distance desc limit 1 """
pd.read_sql(query,con=engine)

         date  distance
0  2019-01-15    117.99

**Query 3** In 2019-01-01 how many trips had 2 and 3 passengers?

In [113]:
query="""select count(*) as passenger_count_2 from green_taxi_data where date(lpep_pickup_datetime)='2019-01-01' and passenger_count='2' limit 1 """
pd.read_sql(query,con=engine)

   passenger_count_2
0               1282

In [114]:
query="""select count(*) passenger_count_3 from green_taxi_data where date(lpep_pickup_datetime)='2019-01-01' and passenger_count='3' limit 1 """
pd.read_sql(query,con=engine)

   passenger_count_3
0                254

**Query 4** For the passengers picked up in the Astoria Zone which was the drop off zone that had the largest tip? We want the name of the zone, not the id.

In [157]:
# PULocationID, tip_amount
query="""select "PULocationID","DOLocationID", tip_amount from green_taxi_data where "PULocationID" = '7' order by tip_amount desc limit 1"""
pd.read_sql(query,con=engine)

  PULocationID DOLocationID tip_amount
0            7          175       9.99